{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block style %}
    <link href="/static/sell.css" rel="stylesheet">
{% endblock %}

{% block main %}
    {% if list|length < 1 %}
        <img alt="empty" class="apology border img-fluid" src="/static/empty.jpg" title="empty">
        <h5>Your portfolio is empty.</h5>
        <h6>You can buy some stock <a href="/buy">here</a>.</h6>
    {% else %}
        <form class="form-sell" action="/sell" method="post">
            <select name="symbol" required>
                <option disabled selected value="">Symbol</option>
                {% for item in list %}
                    <option value="{{ item.symbol }}">{{ item.symbol }}</option>
                {% endfor %}
            </select>
            <div>
                <input required autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text" id="form-shares">
                <button class="btn btn-primary px-3" type="submit" id="btn">Sell</button>
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Last purchase</th>
                    <th>Current price</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                <tr>
                    <td class="symbol">{{ item.symbol }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ item.last }}</td>
                    <td>{{ item.price }}</td>
                    <td><span class="span-change">{{ item.change }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            const formShares = document.getElementById('form-shares');
            const spanChangeList = document.querySelectorAll('.span-change');

            formShares.addEventListener('input', (e) => {
                /* Prevents non numeric characters to be input. User can still do it with copy/paste, but it's handled in the backend */
                if (!Number.isInteger(parseInt(e.data)) && (e.data != null)) {
                    formShares.value = formShares.value.substring(0, formShares.value.length -1);
                }
            });

            window.addEventListener('load', (e) => {
                // Check if the percentage change of each row is positive or negative to change the color
                for(item of spanChangeList) {
                    if (item.innerHTML == 0) {
                        item.classList.add('equal');
                    }
                    if (item.innerHTML < 0) {
                        item.classList.add('loss');
                    }
                    else if(item.innerHTML > 0) {
                        item.classList.add('gain');
                        // Adding + character
                        item.innerHTML = "+" + item.innerHTML;
                    }
                    // Adding % character
                    item.innerHTML = item.innerHTML + "%";
                };
            });
        </script>
    {% endif %}
{% endblock %}
